{% extends "layout.html" %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-darkblue rounded box-shadow">
  <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100 mb-1">{{ head }}</h6>
      <small>
        {% for topic in topics%}
          <!-- <span class="btn btn-primary btn-sm disabled" aria-disabled="true"> {{ topic }} </span> -->
          <span class="my-1 badge badge-default badge-outlined"> {{ topic }} </span>
        {% endfor%}
      </small>
    </div>
    <nav>
      {% if attitude == "support" %}
        {% set fs_favor = "nav-big" %}
        {% set fs_against = "nav-small" %}
      {% elif attitude == "oppose" %}
        {% set fs_against = "nav-big" %}
        {% set fs_favor = "nav-small" %}
      {% endif %}
      <div class="nav ml-3" id="nav-tab" role="tablist">
        <a id="p" class="nav-link font-weight-light my-auto {{ fs_favor }}" href="{{ url_for('show_tweets', statement_id=statement_id, head=head, topics=topics, attitude='support') }}" >Support</a>
        <a id="c" class="nav-link font-weight-light my-auto {{ fs_against }}" href="{{ url_for('show_tweets', statement_id=statement_id, head=head, topics=topics, attitude='oppose') }}" >Oppose</a>
      </div>
    </nav>
  </div>
</div>

<div class="card my-3">
    <div class="card-header abstract-statement-bg">
      <h4 class="text-white mt-2">
        {{ statement }}
      </h4>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
  {% if attitude == 'support' %}
    <h6 class="border-bottom border-gray pb-2 mb-0">Supported Tweets</h6>
    {% set color="#ee4d4d" %}
  {% elif attitude == 'oppose' %}
    <h6 class="border-bottom border-gray pb-2 mb-0">Against Tweets</h6>
    {% set color="#2b2e48" %}
  {% endif %}
  {% for item in data %}
    <!-- <a class="list-link-item" href="https://twitter.com/anyuser/status/{{ item[0] }}">
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <p class="text-justify media-body pb-3 mb-0 small lh-50 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@username</strong>
          {{ item[2] }}
        </p>
      </div>
    </a> -->
    <a class="list-link-item" data-toggle="collapse" data-target="#{{ item[1] }}" aria-expanded="false" aria-controls="{{ item[1] }}">
      <div class="media text-muted pt-3">
        <!-- <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded"> -->
        <!-- <p class="d-inline-block text-truncate text-left media-body pb-3 mb-0 small lh-50 border-bottom border-gray" style="max-width: 1200px;"> -->
        <div class="color-box mr-2 rounded text-white text-center" style="background-color: {{ color }}">
          <p class="mt-1">
            {{ loop.index+offset }}
          </p>
        </div>
        <p class="tsp text-left media-body pb-3 mb-0 small lh-50 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{ item[0] }}</strong>
          {{ item[2] }}
        </p>
      </div>
    </a>
    <div id="{{ item[1] }}" class="collapse border-bottom border-gray bg-light" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="row">
        <div class="col-7 alert_add">
          <div class="inserted alert-inline alert-success" role="alert" style="display: none">
            submitted successfully!
          </div>
          <div class="updated alert-inline alert-warning" role="alert" style="display: none">
            updated successfully!
          </div>
          <div class="existed alert-inline alert-danger" role="alert" style="display: none">
            duplicate action!
          </div>
        </div>
        <div class="col-5">
          <div class="wrapper float-right">
            <button class="opinion button button-3d button-circle mt-2 mb-3 mr-2" stance="FAVOR"><i class="fa fa-check"></i></button>
            <button class="opinion button button-3d button-circle mt-2 mb-3 mr-2" stance="AGAINST"><i class="fa fa-times"></i></button>
            <a href="https://twitter.com/anyuser/status/{{ item[0] }}" class="button button-3d button-circle mt-2 mb-3 mr-2"><i class="fa fa-info"></i></a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="my-5">
  <ul class="pagination justify-content-center">
    {{ pagination.links }}
  </ul>
</div>
{% endblock %}
