{% block about %}
<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-2 mr-auto">
                
            </div>
            <div class="col-lg-8 ml-auto">
                <p class="lead text-center">StanceComp is a system that aims to extract claims that might be rumours from tweets and aggregate the detected stances towards claims from different information resources for users.</p>
            </div>
            <div class="col-lg-2 mr-auto">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}