{% extends "layout.html" %}

{% if attitude == 'support' %}
    {% set color="#ee4d4d" %}
    {% if data_type=="tweet" %}
        {% set title="Supported Tweets" %}
    {% else %}
        {% set title="Supported News" %}
    {% endif %}
{% elif attitude == 'oppose' %}
    {% set color="#135282" %}
    {% if data_type=="tweet" %}
        {% set title="Opposed Tweets" %}
    {% else %}
        {% set title="Opposed News" %}
    {% endif %}
{% endif %}

{% block contents %}
<!-- Portfolio Grid Section -->
<section class="portfolio mt-5" id="portfolio">
    <div class="container">
        
        <h2 class="text-center text-uppercase text-secondary mb-0">{{ title }}</h2>
        <hr class="star-dark mb-5">
        <div class="card my-3">
            <div class="card-header bg-dark">
                <p class="lead text-white mt-2">
                    {{ statement }}
                </p>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}
    </div>
</section>

{% endblock %}
