{% extends "bootstrap/base.html" %}

{% block body %}
<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet">
<form class="form-signin" action="{{ url_for('login') }}" method=post>
  <img class="mb-5 center-block" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 text-center font-weight-normal"></h1>
  <label for="inputUsername" class="sr-only">Email address</label>
  <input type="text" id="inputUsername" name=username class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name=password class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3 pagination-centered">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted pagination-centered">&copy; 2017-2018</p>
</form>
{% endblock %}
