{% extends "layout.html" %}

{% block loginuser %}
  <form class="form-inline my-2 my-lg-0">
    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
    {% if current_user.is_authenticated %}
      <p class="lead text-white text-center my-auto mr-4">{{ current_user.username }}</p>
    {% endif %}
    <!-- <label class="form-control mr-sm-2"></label> -->
    <a class="btn btn-outline-danger my-2 my-sm-0" href="{{ url_for('logout') }}" role="button">Logout</a>
  </form>
{% endblock %}

{% block root_page %}
<!-- <link rel="stylesheet" href="{{ url_for('.static', filename = 'css/bootstrap.css') }}"> -->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Rumour Explorer</h1>
    <p>Rumour Explorer is a system that aims to extract claims that might be rumours from tweets and aggregate the detected stances towards claims from different information resources for users.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  {% for i in range(items|length)[::2]%}
  <span id="origin">
    <div class="row">
      {% set n = 2 %}
      {% if items[i:]|length < 2 %}
        {% set n = items[i:]|length %}
      {% endif %}
      {% for j in range(n) %}
      <div class="col-md-6">
        <p class='display-4'>{{ items[i+j]['head'] }}</p>
        <div class="list-group list-group-flush">
          {% for k in items[i+j]['statements'].keys() if not (items[i+j]['statements'][k]|length == 1 and items[i+j]['statements'][k][0] == '') %}
          <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
            <a class="mb-1 list-link-item home-statement-bg" data-toggle="collapse" data-target="#{{ items[i+j]['head']+loop.index0|string }}" aria-expanded="false" aria-controls="{{ items[1] }}">
              <div class="media text-muted pt-3">
                <p class="text-left media-body pb-3 mb-0 small lh-50">
                  <div class="container">
                    <div class='row'>
                      <div class="col-2 mt-3">
                        <p class='lead mb-4'>Topic{{loop.index0}}:</p>
                      </div>
                      <div class="col-6 mt-3">
                        {% for topic in items[i+j]['topics'][k]%}
                          <!-- <span class="btn btn-primary btn-sm disabled" aria-disabled="true"> {{ topic }} </span> -->
                          <!-- <span class="my-1 badge badge-secondary badge-outlined"> {{ statement }} </span> -->
                          <span class="badge badge-secondary badge-outlined"> {{ topic }} </span>
                        {% endfor%}
                      </div>
                    </div>
                  </div>
                </p>
              </div>
            </a>
            <div id="{{ items[i+j]['head']+loop.index0|string }}" class="collapse border-bottom border-gray bg-light" aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="list-group list-group-flush">
                {% for statement in items[i+j]['statements'][k] %}
                  <a href="{{ url_for('getTweets4Statement', statement_id=statement[0], topics=items[i+j]['topics'][k], head=items[i+j]['head']) }}" class="list-group-item list-group-item-action text-truncate">
                    {{ statement[1] }}
                  </a>
                  <!-- <li class="list-group-item text-truncate">{{ statement[1] }}</li> -->
                {% endfor %}
                </ul>
            </div>
            <!-- </a> -->
          {% endfor %}
        </div>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      {% endfor %}
    </div>
  </span>
  {% endfor %}

  <span id="new">
  </span>

  <hr>

</div> <!-- /container -->
{% endblock %}
